CREATE DATABASE IF NOT EXISTS {{ _my_db_}};
CREATE USER '{{ _my_user_ }}'@'localhost' IDENTIFIED BY '{{ _my_passwd_}}';
CREATE USER '{{ _my_user_ }}'@'%' IDENTIFIED BY '{{ _my_passwd_}}';
GRANT ALL PRIVILEGES ON {{ _my_db_ }}.* TO '{{ _my_user_ }}'@'localhost';
GRANT ALL PRIVILEGES ON {{ _my_db_ }}.* TO '{{ _my_user_ }}'@'%';
FLUSH PRIVILEGES;
USE "{{ _my_db_ }}";
