version: '3.3'

services:
  db:
    image: mysql:5.7
    secrets:
      - db_root_password
      - db_dba_password
      - db_user
    ports:
      - 3306:3306
    environment:
      MYSQL_DATABASE: mydb
      MYSQL_USER: /run/secrets/db_user
      MYSQL_PASSWORD_FILE: /run/secrets/db_dba_password
      MYSQL_ROOT_PASSWORD_FILE: /run/secrets/db_root_password
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
      - {{ dst_docker_volumen_dir }}:/var/lib/mysql
      - {{ dst_docker_configurations_dirs }}:/docker-entrypoint-initdb.d

secrets:
  db_user:
    file: {{ dst_docker_configurations_dirs}}/.MYSQL_USER
  db_dba_password:
    file: {{ dst_docker_configurations_dirs}}/.MYSQL_PASSWORD
  db_root_password:
    file: {{ dst_docker_configurations_dirs}}/.MYSQL_ROOT_PASSWORD
